*{
	//border: 1px solid red;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #262626;
}

body{
	background-color: #dfdfdf;
	margin-top: 180px;

}

.head{
	height: 180px;
	width: 100%;
	background-color: #dfdfdf;
	position: fixed;
	top: 0;
	z-index: 999999;
	border-bottom: 10px solid grey;
	font-size: 7em;
}

.ham{
	width: 130px;
	height: 130px;
	margin: 15px;
	border-radius: 10px;
	border: 10px solid grey;
	float: right;
}

.ham:hover{
	background-color: #515151;
}

.hamLine{
	margin: 0 auto;
	border: 6px solid grey;
	margin-top: 23px;
	width: 60%;
}

.entry-header {
	font-size: 2em;
	padding: 20px;

}
#primary .page-title{
	text-align: center;
	font-size: 6em;
	background: #dcdcdc;
}
.category-title{
	font-size: 4em;
	margin: 0;
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background: #dcdcdc;

	margin-top: 20px;

}

.entry-content{
	font-size: 2em;
}

.social-sharing{
	//transform: scale(5,5);
}


.st_facebook_hcount{

}

#singlePostVideo{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.atlantis-js {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

.entry-content,.entry-summary a{
	display: block;
}
.entry-summary a:before {
  content: '\a';
  white-space: pre;
}
.entry-content,.entry-summary {
	padding: 20px;
	font-size: 2em;
	background: #ffffff;
}

h1, h2{
	margin : 0;
	padding: 0;
	margin-bottom: 20px;
}

article{
	background-color: #eaeaea;
	margin : 0;
	padding : 0;
}

article p{
	padding-top: 20px;
	padding-bottom: 20px;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.wp-post-image{
	width: 100%;
	height: auto;
}


.wp-post-image a{
	float: left;
	padding: 0;
}

.page-title{
	margin : 0;
	padding: 10px;
	font-size: 3em;
}

/* Social Media Buttons Sidebar
-------------------------------------------------------------------------------*/
.social-media{
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
}

.social-media img{
	margin: 50px;
	float: left;
	width : 150px;
}

.widget-title{
	margin: 0;
	padding: 20px;
	font-size: 2em;
	background-color: #c8c8c8;
}
.widget{
	font-size: 2.5em;
}

.widget li{
	padding: 30px;
	border-bottom: 2px solid grey;
}

.widget_search{
	padding: 40px;
}

.widget_search label{
	font-size: 2em;
}

.widget_search input{
	font-size: 2em;
	max-width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.widget_calendar{
}

#calendar_wrap{
	font-size: 2em;
}

#calendar_wrap td{
	padding: 30px;
}

#respond{
	padding: 40px;
	font-size: 4em;
}

#respond label{
}

#respond input, textarea{
	padding: 20px;
	margin-top: 50px;
	width:95%;
	font-size: 1em;
}
